@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Sriracha&display=swap');

* {    
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: white;
    color: black;
    font-family: Sriracha;    
    padding: 30px 0px;    
}



header {
    background-color: black;
    padding: 50px;  
    margin: -30px 0px 30px 0px ;
    margin-bottom: 30px;

    color: white;
    text-align: center;
    text-indent: initial;    
}

h1 {
    font: bolder 5em Verdana;
    text-transform: uppercase;
    padding-bottom: 10px;
}

h1::first-letter { /* Ainda não achei como fazer o mesmo para a 2ª palavra */
    font-size: 1.5em;
}

h1 > p {
    display: inline; /* Para que as 2 palavras apareçam em sequência e dps eu tentar colocar a 1ª letra grande */
}

header > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: normal 1em Verdana;
}

a {
    font: bolder 1em Verdana;
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section > p {
    font-size: 3em;
    padding: 10px 50px;

}

.fundo-branco {
    background-color: white;
}

.joaninha {
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    margin: 130px 0px;
    padding: 30px 0px;
}

#joaninha { /* Aqui é tudo referente a caixinha colorida */
    height: 600px;
    width: 560px;
    color: white;
    font-size: 3em;   
    background-image: linear-gradient( to right, #001100 80%, #021602);
    margin: 30px;
    padding: 5px;
}

.cartas {
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    margin: 100px 0px;
    padding: 30px 0px;
}

#cartas { /* Aqui é tudo referente a caixinha colorida */
    height: 600px;
    width: 570px;
    color: white;
    font-size: 3em;   
    background-color: rgba(54, 51, 51, 0.78);
    background-position: right top;
    margin: 30px;
    padding: 5px;
}

.espaco {
    margin-bottom: 100px;
}

footer {
    background-color: black;
    color: white;
    font-size: 1em;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}