@charset "UTF-8";

/* Estilo para impressoras */

* {
    margin: 10;
    padding: 10;
    }

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu {
    display: none; 
} /* Para a impressão, não faz sentido ter um menu no texto, por isso, se configura para que n apareça na versão impressa */

article {
    width: 100%;
}

article::after {
    content: 'Esse artigo foi impresso através do site www.cursoemvideo.com';
}